.news-detail-bg {
    height: 25vh;
    background: url(./../img/news-detail.jpg) no-repeat center/cover;
}
.video-calendar svg {
    width: 14px;
    height: 14px;
    fill: #7a7a7a;
    padding-right: 10px;
}

.video-title {
    font: 600 28px 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.video-calendar {
    font: 400 16px 'Open Sans', sans-serif;
    color: #7a7a7a;
}

iframe {
    width: 100%;
    height: 40vh;
}

.contact-section {
    background: linear-gradient(183deg, rgba(212, 227, 253, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 30px 20px;
}
.news-video{
    padding: 40px 0;
}
.contact-section ul li {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin: 10px 0;
    font: 400 16px 'Open Sans', sans-serif;
}

.contact-section ul li a svg {
    width: 18px;
    height: 18px;
    fill: #147ff9;
    background-color: #e5eefe;
}

.video-section-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 12px 24px;
    background-color: #147ff9;
    color: #fff;
    font: 500 15px 'Open Sans', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

@media(min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }

    .news-detail-bg,
    iframe {
        height: 50vh;
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }

    .news-detail-bg,
    iframe {
        height: 70vh;
    }
    .news-video{
        display: flex;
        justify-content: space-between;
    }
    .video-section{
        width: 70%;
    }
    .contact-section{
        width: 25%;
        height: 300px;
    }

}

@media(min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1320px;
    }
}